* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: Gilroy, sans-serif;
  background: rgba(178, 189, 228, 1);
  /* не учитывает ширину полосы прокрутки */
  overflow: overlay;
  /* !!! */
}

body {
  min-height: 100vh;
  min-width: 685px;
}

.btn-default {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border-radius: 5px;
  border: 1px solid rgba(194, 194, 194, 0.829);
}

.btn-default:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.btn-MorePadding {
  padding: 1rem;
}

.btn-smaller {
  font-size: 1rem;
  padding: 0.5rem;
}